# Ship only runtime assets, public documentation, and license notices.
**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!resources/icon-v1.png
!resources/git-lines.svg
!dist/extension.js
!dist/webview/assets/*.js
!dist/webview/assets/*.css
!docs/images/readme/**/*.png
